.idea
*.iml
bin
target
node_modules
src/main/resources/dist/*.map
classes
.idea
.DS_Store

\.classpath

\.project

\.settings/

tests/tutor/*

stat.csv

stat2.csv

testAllResult.log

testAllResult2.log

issueTest.log

results/tutor1/*
results/tutor1base/*
results/tutor2/*
results/tutor2base/*

nohup.out
